<FORM METHOD=POST ENCTYPE="multipart/form-data">
    File to upload: <INPUT TYPE=FILE NAME="upfile" accept="image/*"><BR>
    <INPUT TYPE=SUBMIT VALUE="Submit">
</FORM>
<form method="POST" action="/delete_photo/">
<button class=onclick type="submit" name="DeleteImage"> 이미지 삭제</button>
</form>
<h3>
    예시<br><br>
    <table width=400>
    <tr>
        <td>
        <img src=/static/flower.png height="150" width="200">
        </td>
        <td>
        <img src=/static/flower_cut.jpg height="150" width="150">
        </td>
    </tr>
    <tr>
        <td align="center">
            before
        </td>
        <td align="center">
            after!
        </td>
    </tr>
    </table>
</h3>
