<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <style>
        @media (min-width: 544px)
        .bd-pageheader {
            padding-top: 4rem;
            padding-bottom: 4rem;
            margin-bottom: 3rem;
        }

        .bd-pageheader {
            padding: 2rem .9375rem;
            margin-bottom: 1.5rem;
        }

        .center {
            text-align: center;
        }
    </style>

    {% block style %}

    {% endblock %}

  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="http://title.reluv.me/">릴리즈 업적관리 사비스</a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/register/">회원가입</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login/">로그인</a>
          </li>
					<!--로그인한 적이 없으면 로그아웃 하지 않게 만들어야합니다! 버튼 비활성화도 해야하구요. -->
					{% if loggedin %}
	          <li class="nav-item active">
  	          <a class="nav-link" href="/logout/">로그아웃</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link">로그아웃</a>
						</li>
					{% endif %}
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/minhoryang/AwesomeTitle/issues">버그신고</a>
          </li>
        </ul>
        <form class="form-inline pull-xs-right hidden-sm-down" method="POST" action="/question/">
          <input class="form-control" type="text" placeholder="다른 친구" name="who">
          <button class="btn btn-success-outline" type="submit" name="question">궁금해</button>
          <button class="btn btn-warning-outline" type="submit" name="random">랜덤!</button>
        </form>
      </nav>
      <!-- TODO: Logout Please?! -->
    </header>

    <div class="container bd-pageheader">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://github.hubspot.com/tether/dist/js/tether.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>

    {% block script %}

    {% endblock %}

  </body>
</html>
