{% extends "_main.html" %}
{% block content %}
      <div class="row">

        <!-- 왼쪽 -->
        <div class="col-xs-6 col-md-4">
          <ul class="nav nav-pills nav-stacked">
            {% if menu == "profile" %}
            <a class="nav-link active" href="/{{ username }}/manage/">
            {% else %}
            <a class="nav-link" href="/{{ username }}/manage/">
            {% endif %}
              <li class="nav-item">
                내 프로필
              </li>
            </a>
            <a class="nav-link disabled" href="/{{ username }}/manage/names/">
              <li class="nav-item">
                이름 관리 (공사중)
              </li>
            </a>
            {% if menu == "photo" %}
            <a class="nav-link active" href="/{{ username }}/manage/photo/">
            {% else %}
            <a class="nav-link" href="/{{ username }}/manage/photo/">
            {% endif %}
              <li class="nav-item">
                사진 업로드
              </li>
            </a>
            <a class="nav-link disabled" href="/{{ username }}/manage/nicknames/">
              <li class="nav-item">
                별명 (추천) 관리
              </li>
            </a>
            <a class="nav-link disabled" href="/{{ username }}/manage/phones/">
              <li class="nav-item">
                휴대폰 관리 (공사중)
              </li>
            </a>
            <a class="nav-link disabled" href="/{{ username }}/manage/mails/">
              <li class="nav-item">
                이메일 관리 (공사중)
              </li>
            </a>
            <a class="nav-link" href="https://github.com/minhoryang/AwesomeTitle/issues">
              <li class="nav-item">
                버그 신고
              </li>
            </a>
          </ul>
        </div>

        <!-- 오른쪽 -->
        <div class="col-xs-12 col-sm-6 col-md-8">
          {% block manage_content %}
          {% endblock %}
        </div>
      </div>
{% endblock %}
