          {% if is_me %}
        <div style="text-align: right">
          <form method="GET" action="manage/">
            <button type="submit" class="btn btn-danger-outline">수정</button>
          </form>
        </div>
          {% endif %}
        <div class="center">
          <a href="#">
            {% if photo %}
                <img style="
                width:200px;
                height:200px;
                display:block;
                border-radius:50%;
                background-position-y: center;
                background-position-x: center;
                background-repeat: no-repeat;
                background-size: cover;
                margin: 0 auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image:url({{ photo }})">
            {% else %}
              <img src="/static/default.png" class="img-circle center-block">
            {% endif %}
          </a>
          <br><!-- REALLY?!-->
          <h1>
              {{ user.realname }}
          </h1>
          <!-- Where is H2 -->
          <h3>
            {% for nickname in nicknames %}
                <div class="row">
									{{ nickname.nick }}
                </div>
            {% endfor %}
          </h3>
          <!-- more here -->
        </div>
      </div>
