{% extends "_main.html" %}
{% block content %}
      <div class="row">

        <!-- 왼쪽 -->
        <div class="col-xs-6 col-md-4">
          <ul class="nav nav-pills nav-stacked">
            {% if menu == "profile" %}
            <a class="nav-link active" href="/{{ username }}/manage/">
            {% else %}
            <a class="nav-link" href="/{{ username }}/manage/">
            {% endif %}
              <li class="nav-item">
                내 프로필
              </li>
            </a>
						<a class="nav-link disabled"><!-- href="/{{ username }}/manage/names/">-->
              <li class="nav-item">
                이름 관리 (공사중)
              </li>
            </a>
            {% if menu == "photo" %}
            <a class="nav-link active" href="/{{ username }}/manage/photo/">
            {% else %}
            <a class="nav-link" href="/{{ username }}/manage/photo/">
            {% endif %}
              <li class="nav-item">
                사진 업로드
              </li>
            </a>
						{% if menu == "nicknames" %}
            <a class="nav-link active" href="/{{ username }}/manage/nicknames/">
						{% else %}
						<a class="nav-link" href="/{{username}}/manage/nicknames/">
						{% endif %}
              <li class="nav-item">
                별명 (추천) 관리
              </li>
            </a>
						<a class="nav-link disabled"><!-- href="/{{ username }}/manage/phones/"> -->
              <li class="nav-item">
                휴대폰 관리 (공사중)
              </li>
            </a>
						<a class="nav-link disabled"><!-- href="/{{ username }}/manage/mails/"> -->
              <li class="nav-item">
                이메일 관리 (공사중)
              </li>
            </a>
						<!--
            {% if menu == "password" %}
            <a class="nav-link active" href="/{{ username }}/manage/password/">
						{% else %}
						<a class="nav-link" href="/{{username}}/manage/password/">
						{% endif %}
						  <li class="nav-item">
								비밀번호 수정
							</li>
						</a>
						-->
            <a class="nav-link disabled"><!-- href="/{{ username }}/manage/password/"> -->
              <li class="nav-item">
                비밀번호 수정 (공사중)
              </li>
            </a>
            {% if menu == "leave" %}
		    <a class="nav-link active" href="/{{ username }}/manage/leave/">
            {% else %}
            <a class="nav-link" href="/{{ username }}/manage/leave/">
            {% endif %}
              <li class="nav-item">
                회원탈퇴
              </li>
            </a>


						<a class="nav-link" target="_blank" href="https://github.com/minhoryang/AwesomeTitle/issues">
              <li class="nav-item">
                버그 신고
              </li>
            </a>
          </ul>
        </div>

        <!-- 오른쪽 -->
        <div class="col-xs-12 col-sm-6 col-md-8">
          {% block manage_content %}
          {% endblock %}
        </div>
      </div>
{% endblock %}
