{% extends "_main.html" %}
{% block content %}
      <div class="row">

        <!-- 왼쪽 -->
        <div class="col-xs-6 col-md-4">
          <ul class="nav nav-pills nav-stacked">
            <a class="nav-link active" href="#">
              <li class="nav-item">
                내 프로필
              </li>
            </a>
            <a class="nav-link" href="#">
              <li class="nav-item">
                별명 (추천) 관리
              </li>
            </a>
             <a class="nav-link" href="#">
              <li class="nav-item">
                휴대폰 관리
              </li>
            </a>
            <a class="nav-link" href="#">
              <li class="nav-item">
                이메일 관리
              </li>
            </a>
            <a class="nav-link" href="https://github.com/minhoryang/AwesomeTitle/issues">
              <li class="nav-item">
                버그 신고
              </li>
            </a>
          </ul>
        </div>

        <!-- 오른쪽 -->
        <div class="col-xs-12 col-sm-6 col-md-8">
            {% include '_profile.html' %}
        </div>
      </div>
{% endblock %}
