{% extends "_extends/_index.html" %}
{% block _index__container %}
    <form method="POST" action="/register/">
        <fieldset class="form-group">
            <label>아이디</label>
            <input type="text" class="form-control usr" name="usr" maxlength="50" placeholder="아이디를 입력해주세요" data-placement="bottom" data-trigger="manual">
            <small class="text-muted">한글/영어 50자 이하 사용 가능합니다. 변경할 수 없으니 잘 고민해서 작성해주세요.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>비밀번호</label>
            <input type="password" class="form-control pwd" name="pwd" placeholder="비밀번호를 입력해주세요">
            <small class="text-muted">한글/영어/기호 및 길이 제한 없습니다.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>비밀번호 한 번 더!</label>
            <input type="password" class="form-control pwda" name="pwda" placeholder="비밀번호를 다시 입력해주세요" data-placement="bottom" data-trigger="manual">
            <small class="text-muted">위와 동일한 비밀번호를 적어주세요.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>이름</label>
            <input type="text" class="form-control realname" name="realname" placeholder="당신의 이름을 적어주세요" data-placement="bottom" data-trigger="manual">
            <small class="text-muted">한글/영어 50자 이하 사용 가능합니다.</small>
        </fieldset>
        <fieldset class="form-group">
            <label>학번</label>
            <input type="text" class="form-control sn" name="sn" maxlength="8" placeholder="당신의 학번을 적어주세요" data-placement="bottom" data-trigger="manual">
            <small class="text-muted">8자리 숫자만 사용 가능합니다.</small>
        </fieldset>
        <button type="submit" class="btn btn-primary">가입</button>
    </form>
{% endblock %}
{% block _index__script %}
    <script>
    $('.usr').change(
        function(){
            var check_id = "/check_username/" + $('.usr').val();
            $.get(
                check_id,
                function (data){
                    $('.usr').tooltip('dispose');
                }
            ).fail(
                function (data){
                    $('.usr').attr('title', '겹치는 ID가 있습니다.');
                    $('.usr').tooltip('show');
                }
            );

        }
    );

    var changed_pwda = false;
    $('.pwd').change(
        function(){
            if ($('.pwd').val() != $('.pwda').val() && changed_pwda) {
                $('.pwda').attr('title', '비밀번호가 서로 다릅니다.');
                $('.pwda').tooltip('show');
            }
            else {
                $('.pwda').tooltip('dispose');
            }

        }
    );

    $('.pwda').change(
        function(){
            changed_pwda = true;
            if ($('.pwd').val() != $('.pwda').val() ) {
                $('.pwda').attr('title', '비밀번호가 서로 다릅니다.');
                $('.pwda').tooltip('show');
            }
            else {
                $('.pwda').tooltip('dispose');
            }
        }
    );

    $('.realname').change(
        function(){
            if ($('.realname').val() == "" ) {
                $('.realname').attr('title', '빈 칸입니다.');
                $('.realname').tooltip('show');
            }
            else {
                $('.realname').tooltip('dispose');
            }
        }
    );
    $('.sn').change(
        function(){
            var num = $('.sn').val();
            if (num == "") {
                $('.sn').attr('title', '빈 칸입니다.');
                $('.sn').tooltip('show');
            }
            else if( num != parseInt(num,10) ) {
                $('.sn').attr('title', '숫자가 아닙니다.');
                $('.sn').tooltip('show');
            }
            else {
                $('.sn').tooltip('dispose');
            }
        }
    );
    </script>
{% endblock %}
